In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
files.upload()

Saving Sales_add.csv to Sales_add.csv

{'Sales_add.csv': b'Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)\r\nMonth-1,Region - A,Manager - A,132921,270390\r\nMonth-2,Region - A,Manager - C,149559,223334\r\nMonth-3,Region - B,Manager - A,146278,244243\r\nMonth-4,Region - B,Manager - B,152167,231808\r\nMonth-5,Region - C,Manager - B,159525,258402\r\nMonth-6,Region - A,Manager - B,137163,256948\r\nMonth-7,Region - C,Manager - C,130625,222106\r\nMonth-8,Region - A,Manager - A,131140,230637\r\nMonth-9,Region - B,Manager - C,171259,226261\r\nMonth-10,Region - C,Manager - B,141956,193735\r\nMonth-11,Region - B,Manager - C,159339,203175\r\nMonth-12,Region - A,Manager - A,178939,276279\r\nMonth-13,Region - B,Manager - A,145062,205180\r\nMonth-14,Region - A,Manager - A,151514,253131\r\nMonth-15,Region - C,Manager - A,147463,229336\r\nMonth-16,Region - A,Manager - B,177195,187305\r\nMonth-17,Region - A,Manager - C,140862,234908\r\nMonth-18,Region - C,Manager - B,167996,191517\r\nMonth-19,Region - B,Manager - A,132135,227040\r\nMonth-20,Region - A,Manager - B,152493,212579\r\nMonth-21,Region - B,Manager - A,147425,263388\r\nMonth-22,Region - A,Manager - C,130263,243020'}

In [3]:
data=pd.read_csv('Sales_add.csv')

In [5]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [10]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [6]:
data.isna()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
5,False,False,False,False,False
6,False,False,False,False,False
7,False,False,False,False,False
8,False,False,False,False,False
9,False,False,False,False,False
10,False,False,False,False,False
11,False,False,False,False,False
12,False,False,False,False,False
13,False,False,False,False,False
14,False,False,False,False,False
15,False,False,False,False,False
16,False,False,False,False,False
17,False,False,False,False,False
18,False,False,False,False,False
19,False,False,False,False,False
20,False,False,False,False,False
21,False,False,False,False,False

In [7]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [18]:
data.nunique()

Month                             22
Region                             3
Manager                            3
Sales_before_digital_add(in $)    22
Sales_After_digital_add(in $)     22
dtype: int64

In [9]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

**Null Hypothesis (H0): There is no increase in sales after entering into Digital Marketing**

**Alternate Hypothesis (HA): There is increase in sales after stepping into Digital Marketing**

**Let Level of Significance = 0.05**

In [12]:
from scipy.stats import ttest_ind

In [23]:
t_test,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [24]:
t_test

-12.995084451110877

In [25]:
p_value

2.614368006904645e-16

In [26]:
if p_value<0.05:
  print('Null Hypothesis is Rejected')
else:
  print('Failed to Reject Null Hypothesis')

Null Hypothesis is Rejected

Hence there is increase in sales since entering Digital Marketing

In [17]:
from scipy.stats import chi2_contingency

In [27]:
data1=data.loc[:, ['Region','Manager','Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']]

In [28]:
data1

,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Region - A,Manager - A,132921,270390
1,Region - A,Manager - C,149559,223334
2,Region - B,Manager - A,146278,244243
3,Region - B,Manager - B,152167,231808
4,Region - C,Manager - B,159525,258402
5,Region - A,Manager - B,137163,256948
6,Region - C,Manager - C,130625,222106
7,Region - A,Manager - A,131140,230637
8,Region - B,Manager - C,171259,226261
9,Region - C,Manager - B,141956,193735
10,Region - B,Manager - C,159339,203175
11,Region - A,Manager - A,178939,276279
12,Region - B,Manager - A,145062,205180
13,Region - A,Manager - A,151514,253131
14,Region - C,Manager - A,147463,229336
15,Region - A,Manager - B,177195,187305
16,Region - A,Manager - C,140862,234908
17,Region - C,Manager - B,167996,191517
18,Region - B,Manager - A,132135,227040
19,Region - A,Manager - B,152493,212579
20,Region - B,Manager - A,147425,263388
21,Region - A,Manager - C,130263,243020

In [29]:
chi_stat1, pval1, dof,expected= chi2_contingency(data1)

TypeError: ignored